<% layout("layout") %>

<form id="create-group-form">
  <label for="group-name">Group name</label>
  <input type="text" id="group-name" class="input" name="groupName" required />

  <label for="first-name">First name</label>
  <input type="text" id="first-name" class="input" name="firstName" required />

  <label for="last-name">Last name</label>
  <input type="text" id="last-name" class="input" name="lastName" required />

  <label for="education">Education</label>
  <select id="education" class="input" name="education" required>
    <option value="ประถม" selected>ประถม</option>
    <option value="มัธยม">มัธยม</option>
    <option value="ปวช">ปวช</option>
    <option value="ปวส">ปวส</option>
    <option value="ปริญญาตรี">ปริญญาตรี</option>
    <option value="ปริญญาโท">ปริญญาโท</option>
    <option value="ปริญญาเอก">ปริญญาเอก</option>
  </select>

  <button>Create</button>
</form>

<script>
  async function onCreateGroup(e) {
    e.preventDefault();
    const formData = new FormData(e.currentTarget);
    const { data } = await axios.post(
      "/create_group/create",
      convert(formData)
    );

    if (!data.error) {
      alert("Your id is " + data.id);
      window.location.href = "/";
    }
  }

  document
    .querySelector("#create-group-form")
    .addEventListener("submit", onCreateGroup);
</script>
