<% layout("layout") %>
<!-- css -->
<div class="layout">
  <a href="/create_group">Create group</a>
  <a href="/join_group">Join group</a>
  <a href="/simulation">Simulation</a>
</div>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
