<% layout("layout") %>

<form id="join-group-form">
  <label for="group-id">Select group</label>
  <select id="group-id" class="input" name="groupId">
    <% for (let group of groups) { %>
    <option value="<%= group.id %>"><%= group.name %></option>
    <% } %>
  </select>

  <label for="first-name">First name</label>
  <input type="text" id="first-name" class="input" name="firstName" required />

  <label for="last-name">Last name</label>
  <input type="text" id="last-name" class="input" name="lastName" required />

  <label for="education">Education</label>
  <select id="education" class="input" name="education" required>
    <option value="ประถม" selected>ประถม</option>
    <option value="มัธยม">มัธยม</option>
    <option value="ปวช">ปวช</option>
    <option value="ปวส">ปวส</option>
    <option value="ปริญญาตรี">ปริญญาตรี</option>
    <option value="ปริญญาโท">ปริญญาโท</option>
    <option value="ปริญญาเอก">ปริญญาเอก</option>
  </select>

  <button>Join</button>
</form>

<script>
  async function onJoinGroup(e) {
    e.preventDefault();
    const formData = new FormData(e.currentTarget);
    const { data } = await axios.post("/join_group/join", convert(formData));

    if (data.error) {
      alert(data.error);
    } else {
      alert("Your id is " + data.id);
      window.location.href = "/";
    }
  }

  document
    .querySelector("#join-group-form")
    .addEventListener("submit", onJoinGroup);
</script>
