<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- css files -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- js files -->
    <script src="libs/axios.min.js"></script>
    <script src="libs/data_converter.js"></script>
    <script src="libs/validate.js"></script>
  </head>

  <body>
    <%- body -%>
  </body>
</html>
