<% layout("layout") %>

<div id="top-bar">
  <button id="start-simulation" onclick="onStartSimulation()">
    Start simulation
  </button>

  <h3 id="vote-left">Vote left: 500</h3>
</div>

<div id="groups">
  <% for (let group of groups) { %>
  <div class="group" id="<%= group.id %>">
    <span class="group-name"><%= group.name %></span>
    <span class="group-score">0</span>
  </div>
  <% } %>
</div>

<div id="report"></div>

<style>
  #top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
  }

  #report {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
</style>

<script>
  const groupsElement = document.querySelector("#groups");
  const voteLeftElement = document.querySelector("#vote-left");
  const children = groupsElement.children;

  let voteLeft = 500;
  let interval = null;

  function updateVoteLeft() {
    voteLeftElement.innerText = "Vote Left: " + voteLeft;
  }

  function onStartSimulation() {
    interval = setInterval(function () {
      voteLeft--;
      updateVoteLeft();

      const random = Math.floor(Math.random() * children.length);
      const randomElement = children[random];
      const currentScore = parseInt(
        randomElement.querySelector(".group-score").innerText
      );
      randomElement.querySelector(".group-score").innerText = currentScore + 1;

      if (voteLeft == 0) {
        report();
        clearInterval(interval);
      }
    }, 10);
  }

  function report() {
    let scores = [];

    document.querySelectorAll(".group").forEach((e) => {
      scores.push([
        e.querySelector(".group-name").innerText,
        parseInt(e.querySelector(".group-score").innerText),
      ]);
    });

    scores.sort((a, b) => b[1] - a[1]);

    document.querySelector(
      "#report"
    ).innerText = `Winner is ${scores[0][0]} (${scores[0][1]} scores)`;
  }
</script>
